main{
  img{
    max-width: 100%;
  }
}
.tethome{
  &__container{
    max-width: 1425px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0 90px;
  }
  &__inner{
    display: flex;
    align-items: center;
    margin-top: 170px;
  }
  &__descr{
    max-width: 40%;
    padding: 0 90px;
    &-title{
      font-weight: 400;
      margin-top: 60px;
    }
    span{
      font-family: GothamBold, Helvetica, Arial, sans-serif;
      line-height: 1.4em;
      font-size: 26px;
      font-weight: bold;
    }
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__result{
    &-img{
      img{
        max-width: 100%;
      }
    }
  }
}
#decr{
  font-weight: lighter;
}
.foundation{
  &__text{
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
.walls{
  text-align: right;
  &__text{
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
.belt{
  &__text{
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
.overlap{
  text-align: right;
  &__text{
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
.ventilation{
  &__text{
    p{
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
  &__title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 1260px) {
  .tethome__descr{
    padding: 0 50px;
  }
}
@media (max-width: 1125px) {
  .tethome__descr{
    padding: 0 40px;
  }
}
@media (max-width: 1050px) {
  .tethome__container{
    padding: 0 35px;
  }
  .tethome__descr{
    max-width: 100%;
    padding: 0 0 1.2em 0;
  }
  .tethome__inner{
    flex-direction: column;
  }
  .tethome__decr-title{
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .tethome__container{
    padding: 0 15px;
  }
  .tethome__inner{
    margin-top: 100px;

    .tethome__decr-title{
      font-size: 18px;
      span{
        font-size: 20px;
      }
    }
  }
  .tethome__descr{
    p{
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}
