.header {
    position: fixed;
    top: 0;
    height: 74px;
    background: rgba(106, 106, 106, 0.7);
    left: 0;
    width: 100%;
    z-index: 22;
    .container {
        height: 100%;
    }
}
.header__inner {
    display: flex;
    align-items: center;
    height: 100%;
}
.header__logo {
    width: 120px;
    aspect-ratio: auto 120 / 57;
    height: 57px;
}
.header__nav {
    margin-left: 60px;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-link {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    font-family: GothamReg, sans-serif;
}
.header__nav-item+.header__nav-item {
    margin-left: 30px;
}
.menu-btn{
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    &-line{
        width: 100%;
        height: 2px;
        position: absolute;
        top: calc(50% - 1px);
        background: #fff;
        display: inline-block;
        &:after, &:before{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            background: #fff;
        }
        &:after{
            top: -9px;
        }
        &:before{
            bottom: -9px;
        }
    }
}
.preview {
    padding-bottom: 120px;
    .swiper-slide {
        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    .swiper-container-vertical {
        >.swiper-pagination-bullets {
            position: absolute;
            top: 0;
            color: #fff;
            right: 15%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            transform: none;
            &::before {
                content: "";
                position: absolute;
                left: -30px;
                top: 0;
                height: 100%;
                width: 1px;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
.preview__inner {
    position: relative;
    .swiper-wrapper {
        transition: 0.5s ease transform;
        transition-duration: 500ms !important;
    }
    .swiper-wrapper.active {
        transform: translateY(-2000px) !important;
    }
}
.preview__slider {
    width: 100%;
    height: 700px;
    .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 700px !important;
        position: relative;
    }
    .swiper-button-prev {
        right: 15%;
        left: auto;
        color: #fff;
        position: absolute;
        z-index: 222;
        width: 26px;
        height: 26px;
        font-size: 26px;
        top: 14%;
        bottom: auto;
        &::after {
            display: none;
        }
    }
    .swiper-button-next {
        right: 15%;
        left: auto;
        color: #fff;
        position: absolute;
        z-index: 222;
        width: 26px;
        height: 26px;
        font-size: 26px;
        bottom: 14%;
        top: auto;
        &::after {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        background-color: transparent;
        width: auto;
        opacity: 0.6 !important;
        font-size: 16px;
        height: auto;
        position: relative;
        margin: 15px 0 !important;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1 !important;
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: -32.5px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: #fff;
            -webkit-transform: scale(1);
            transform: scale(1);
            transition: .2s;
        }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet {
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: -32.5px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: #fff;
            -webkit-transform: scale(0);
            transform: scale(0);
            transition: .2s;
        }
    }
}
.preview__slider-text {
    max-width: 330px;
    right: 25%;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    color: #fff;
    font-size: 30px;
    span {
        font-size: 16px;
    }
}
.about__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.about__img {
    max-width: 600px;
    width: 100%;
    transform: translate3d(0px, 46px, 0px);
}
.about__info {
    max-width: 422px;
    padding: 0 90px;
    width: 100%;
    box-sizing: content-box;
}
.about__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;
}
.about__text {
    padding: 1.2em 0;
    margin: 0;
}
.verline {
    margin: 0 12px;
    height: 1px;
    vertical-align: middle;
    width: 80px;
    background-color: #222222;
    display: inline-block;
}
.about__btn {
    background-color: #000000;
    color: #fff;
    padding: 12px 24px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: fit-content;
    line-height: 1;
    transition: 0.3s ease all;
    &:hover {
        background-color: #fff;
        color: #222;
        border: 1px solid #222;
    }
}
.our {
    padding-top: 100px;
    padding-bottom: 220px;
}
.our__swiper {
    max-width: 100%;
}
.our__swiper-img {
    max-width: 700px;
    width: 100%;
}
.our__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
}
.our__swiper-controls {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >* {
        position: static !important;
    }
    .swiper-button-prev {
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        position: relative;
        pointer-events: all !important;
        opacity: 1 !important;
        margin-top: 0;
        &::after {
            font-family: 'themify';
            content: "\e649";
            color: #e7e7e7;
            font-size: 13px;
            line-height: 16px;
            transform: rotate(180deg);
        }
        &:hover {
            border-color: #000;
            &::after {
                color: #000;
            }
        }
    }
    .swiper-button-next {
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        position: relative;
        pointer-events: all !important;
        opacity: 1 !important;
        margin-top: 0;
        &::after {
            font-family: 'themify';
            content: "\e649";
            color: #e7e7e7;
            font-size: 13px;
            line-height: 16px;
        }
        &:hover {
            border-color: #000;
            &::after {
                color: #000;
            }
        }
    }
    .swiper-pagination {
        flex-grow: 1;
        padding: 0 5px;
        position: relative;
        display: flex;
    }
    .swiper-line {
        width: calc(100% - 78px);
        height: 1px;
        background-color: #dfdfdf;
        position: absolute !important;
        top: 50%;
        z-index: -1;
        left: 39px;
        transform: translateY(-50%);
    }
    .swiper-line__full {
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 50%;
        z-index: -1;
        left: 5px;
        transition: width 0.3s;
        transform: translateY(-50%);
    }
    .swiper-pagination-bullet {
        border: 1px solid #dfdfdf;
        background-color: #f8f8f8;
        height: 12px;
        width: 12px;
        opacity: 1 !important;
        position: relative;
        &:first-child {
            margin-left: 10%;
        }
    }
    .swiper-pagination-bullet+.swiper-pagination-bullet {
        margin-left: 50px;
    }
    .swiper-pagination-bullet-active {
        background-color: #000000;
    }
}
.our__swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 60px;
}
.our__swiper-info {
    margin-left: 60px;
}
.our__swiper-title {
    font-size: 24px;
    letter-spacing: 0px;
}
.our__swiper-text {
    letter-spacing: 0px;
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
}
.technologies {
    background-image: url('../img/47402.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.technologies__inner {
    display: flex;
    align-items: center;
    padding: 0 60px;
    justify-content: space-between;
}
.technologies__info {
    background-color: #000000;
    transform: translateY(-140px);
    padding: 70px 60px;
    color: #fff;
    text-align: right;
    max-width: 414px;
}
.technologies__title {
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 40px;
    text-align: left;
    span {
        font-size: 30px;
        line-height: 1.2em;
        font-weight: bold;
        display: block;
    }
}
.technologies__text {
    margin-bottom: 40px;
    text-align: left;
}
.technologies__link {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #222222;
}
.technologies__btn {
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    display: block;
    color: #fff;
    line-height: 1;
    background-color: #23A455;
}
.stages {
    background-color: #000;
    padding: 90px 0;
    color: #fff;
}
.stages__title {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    span {
        font-size: 32px;
        font-weight: 400;
        display: block;
    }
}
.stages__slide-img {
    width: 66.6%;
    height: 440px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
    will-change: clip;
}
.stages__slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.stages__slide-info {
    text-align: right;
    margin-top: 70px;
    height: 370px;
    margin-left: auto;
    z-index: 12;
}
.stages__slide-title {
    font-weight: 500;
    font-size: 36px;
    max-width: 380px;
    margin-bottom: 32px;
    margin-left: auto;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.5s 0.5s ease;
}
.stages__slide.active .stages__slide-title{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
}
.stages__slide-text {
    font-size: 16px;
    max-width: 300px;
    margin-left: auto;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.5s 0.6s ease;
}
.stages__slide.active .stages__slide-text{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.1s;
}
.stages__controls {
    .swiper-button-prev {
        position: static !important;
    }
    .swiper-button-next {
        position: static !important;
    }
    display: flex;
    align-items: center;
    font-size: 30px;
    position: absolute;
    right: 0;
    z-index: 12;
}
.construction {
    padding-top: 55px;
    padding-bottom: 140px;
}
.construction__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.construction__tabs {
    display: flex;
    border: 1px solid #000;
}
.construction__tabs-content {
    flex-grow: 1;
    background-color: #000;
    padding: 20px;
}
.construction__tabs-contols-btn {
    background-color: #000;
    margin: 0;
    border: none;
    padding: 20px 25px;
    color: #fff;
    min-width: 245px;
    text-align: left;
    line-height: 1;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.construction__tabs-content-item {
    padding: 20px;
    p {
        margin: 0;
        padding: 0;
    }
}
.contact {
    padding-bottom: 120px;
}
.contact__title {
    text-align: center;
    font-size: 12px;
    margin-bottom: 50px;
    span {
        font-size: 32px;
        font-weight: 400;
    }
}
.contact__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact__item {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact__img {
    width: 30px;
}
.contact__text {
    padding: 20px 0;
    font-size: 16px;
}
.footer {
    border-top: 1px solid#e7e7e7;
    height: 61px;
    background-color: #f5f5f5;
}
.stages-button-prev {
    &::after {
        font-family: 'themify';
        content: "\e629";
    }
}
.stages-button-next {
    &::after {
        font-family: 'themify';
        content: "\e628";
    }
}
.stages__slide.active {
    .stages__slide-img {
        clip: rect(0, 80vw, 50vh, 0);
        z-index: 10;
    }
}
.stages__slide.prev-slide {
    .stages__slide-img {
        clip: rect(0, 00vw, 50vh, 0vw);
        z-index: 11;
    }
}
.stages__slide.next-slide {
    .stages__slide-img {
        clip: rect(0, 80vw, 50vh, 80vw);
        z-index: 11;
    }
}
.stages__swiper {
    position: relative;
    height: 440px;
}
.stages__current {
    margin: 0 10px;
}
