@media (max-width: 1425px) {
.container {
    padding: 0 20px;
}
.preview__inner {
    margin: 0 -20px;
}
}
@media (max-width: 1150px) {
.our__swiper-slide {
    flex-direction: column;
    align-items: flex-start;
}
.our__swiper-info {
    margin-left: 0;
    margin-top: 30px;
}
}
@media (max-width: 1100px) {
    .menu-btn{
        display: block;
    }
   .header__nav{
       margin: 0;
       position: fixed;
       width: 350px;
       left: 0;
       top: 0;
       bottom: 0;
       height: 100vh;
       background: white;
        transform: translateX(-350px);
       transition: transform 0.5s ease;
       &-list{
           flex-direction: column;
           max-width: 250px;
           width: 100%;
           margin: 0 auto;
           height: 100%;
           justify-content: center;
           a{
               color: #000;
               font-size: 20px;
               font-weight: 400;
           }
       }
       & &-item{
           margin: 0;
           margin-bottom: 20px;
           width: 100%;
           text-align: start;
       }
   }
    body{
        header, footer, main{
            transition: transform 0.5s ease;
            transform: translateX(0px);
        }
    }
    body.active-menu{
        overflow: hidden;
        header, footer, main{
            transform: translateX(350px);
        }
    }
}
@media (max-width: 1000px) {
    .about__inner {
        flex-direction: column;
        align-items: center;
    }
    .about__info {
        max-width: none;
        padding: 0;
    }
}

@media (max-width: 870px) {
.technologies {
    padding-bottom: 100px;
}
.technologies__inner {
    flex-direction: column;
    align-items: center;
}
.technologies__info {
    max-width: none;
}
.contact__items {
    flex-direction: column;
    align-items: center;
}
}
@media (max-width: 767px) {
.preview__slider-text {
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    text-align: center;
}
.preview {
    .swiper-container-vertical {
        >.swiper-pagination-bullets {
            display: none;
        }
    }
}
.preview__slider {
    .swiper-button-prev {
        bottom: 14%;
        top: auto;
        right: auto;
        left: 15%;
    }
}.construction__tabs{
    flex-direction: column;
     width: 100%;
     background: #000;
    &-content{
        padding: 0;
    }
 }
}
@media (max-width: 500px) {
    .main {
        overflow-x: hidden;
    }
    .stages__slide {
        &-img {
            width: 100vw;
            left: -20px;
        }

        &.active {
            .stages__slide-img {
                clip: rect(0, 100vw, 50vh, 0);
                z-index: 10;
            }
        }

        &.next-slide {
            .stages__slide-img {
                clip: rect(0, 100vw, 50vh, 100vw);
                z-index: 11;
            }
        }

        &-title {
            font-size: 27px;
        }

        .stages {
            overflow: hidden;
        }

        .preview__slider-text {
            font-size: 27px;
        }
    }
}
