* {
    box-sizing: border-box;
    outline: none;
}

*:focus,
*:active {
    outline: none;
}

@font-face {
    font-family: "GothamReg";
    src: url("../fonts/gothambold-1.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "GothamReg";
    src: url("../fonts/gothamlight-1.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "GothamReg";
    src: url("../fonts/gothampro-1.woff") format("woff");
    font-weight: 400;
}



body {
    line-height: 1.6;
    margin: 0;
    font-family: GothamReg, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
button {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1425px;
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;
}






@import "page1";
@import "page2";
@import "media";